<% if current_user.invoices.any? %>
    <h3>My invoices (<%= current_user.invoices.count  %>)</h3>

<% end %>
<h3>Create new invoice</h3>
<%= form_for Invoice.new do |f| %>
    <%= f.text_field :recipient %>
    <%= f.select :currency, %w(SEK USD GBP) %>
    <%= f.submit 'New invoice' %>

<% end %>

<%#= render 'invoices/template' %>